/*--- FONTS
------------------------------*/

@font-face {
  font-family: 'ShadowsIntoLightTwo-Regular';
  src: url(../fonts/ShadowsIntoLightTwo-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Acrom';
  src: url(../fonts/acrom.otf);
  font-weight: 400;
}
@font-face {
  font-family: 'Acrom';
  src: url(../fonts/acromBold.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url(../fonts/HELVETICANEUECYR-ROMAN.otf);
  font-weight: 400;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url(../fonts/HELVETICANEUECYR-BOLD.otf);
  font-weight: 700;
}

/*--- END FONTS
------------------------------*/