// VARIABLES 

$color_primary: #9b9999;
$color_primary_bold: #666262;
$color_alternative: #fff;
$color_copyright: #808080;
$color_copyright_link: #cbcbcb;
$color_moile-menu: #000;
$color_strong: #86b670;
$color_footer: #fefefe;

$bg_btn: #86b670;
$bg_btn_hover: rgba(255, 255, 255, 0.3);
$bg_btn_social:#c7c9ca;
$bg_btn_alternative:#fff;
$bg_mobile_btn: #a4c894; 
$bg_mobile_btn_hover: #dae9d4;
$bg_section: #efefef;
$bg_footer: #333;
$bg_separate: #ccc;
$bg_popup: rgba(0,0,0,0.6);
$bg_form: #4e4c4c;
$bg_form_submit: #828282;

$font_family_primary: 'HelveticaNeue';
$font_family_title: 'Acrom';
$font_family_logo:  'ShadowsIntoLightTwo-Regular';

$font_size_primary: 12px;
$font_size_logo: $font_size_primary * 2.66;
$font_size_h1: $font_size_primary * 2.1667;
$font_size_h2: $font_size_primary + 4;
$font_size_h3: $font_size_primary + 2;
$font_size_btn: $font_size_primary - 2;
$font_size_copyright: $font_size_primary - 3;
$font_size_menu_title: $font_size_primary * 1.66;


// MIXINS 

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}