  <!-- footer -->
  <footer class="footer">
    <div class="footer-top">
      <div class="wrapper separate flex-container j-space-between">
        <div class="footer-top__left">
          <div class="logo">
            <a href="#" class="logo__link">Logotype</a>
          </div>
          <div class="social footer-top__social">
             <ul class="social__list">
              <li class="social__item">
                <a href="#" class="social__link social__link_twitter">twitter</a>
              </li>
              <li class="social__item">
                <a href="#" class="social__link social__link_facebook">facebook</a>
              </li>
              <li class="social__item">
                <a href="#" class="social__link social__link_rss">rss</a>
              </li>
            </ul>
          </div>
          <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam quis nunc rutrum placerat. Proin eu mi vitae neque veh interdum id nec turpis nam auctor faucibus sollicitudin.</p>
        </div>
        <div class="footer-top__middle flex-container j-space-between">
          <div class="footer__col">
            <div class="footer__title">Contact info</div>
            <address class="contact-info">
              222 Ave C South<br>
              Saskatoon, Saskatchewan<br>
              Canada S7K 2N5<br>
              <a href="mailto:email@email.com" class="contact-info__mail">email@email.com</a><br>
              <a href="callto:123456789" class="contact-info__tel">1.234.567.8901</a>
            </address>
          </div>
          <div class="footer__col">
            <div class="footer__title">Quick Links</div>
            <ul class="quick-links">
              <li class="quick-links__item"><a href="#" class="quick-links__link">About</a></li>
              <li class="quick-links__item"><a href="#" class="quick-links__link">Privacy Policy</a></li>
              <li class="quick-links__item"><a href="#" class="quick-links__link">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-top__right">
          <div class="footer__title">Newsletter</div>
          <div class="footer__text">Lorem ipsum dolor sit amet dolor consectetur adipiscing elit.</div>
          <form class="newsletter-form">
            <input type="email" name="email" id="email" placeholder="Email" class="newsletter-form__mail">
            <input type="submit" value="OK" class="newsletter-form__submit">
          </form>
        </div> 
      </div>
    </div>
    <div class="footer-bottom">
      <div class="wrapper">
        <div class="footer-bottom__copyright">
          <div class="copyright">
            <small>Copyright <span>2017</span> <a href="https://mev.com" target="blank">MEV LCC</a>. All Rights Reserved.</small>
          </div>
          <ul class="quick-links">
            <li><a href="#" class="quick-links__link">About</a></li>
            <li><a href="#" class="quick-links__link">Privacy Policy</a></li>
            <li><a href="#" class="quick-links__link">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!--  scripts  -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/script.min.js"></script>
  <!--  END scripts  -->
</body>
</html>