<!DOCTYPE html>
<html lang="zxx">
<head>
  <title>HTMLDeveloper</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="og:image" content="img/favicon.png">
  <meta name="robots" content="index, follow">
  
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon.png">
  <link rel="stylesheet" href="css/slick.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  <header class="header">
    <div class="wrapper header__wrapper">
      <div class="logo">
        <a href="#" class="logo__link">Logotype</a>
      </div>
      <button type="button" class="show-mobile-menu"></button>
      <div class="menu-wrapper">  
        <div class="menu-title">Menu</div>
        <button type="button" class="close-mobile-menu"></button>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#" class="nav__link active">Home</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Blog</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Contact us</a>
            </li>
          </ul>
        </nav>
        <div class="social header__social">
          <ul class="social__list">
            <li class="social__item">
              <a href="#" class="social__link social__link_twitter">twitter</a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link social__link_facebook">facebook</a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link social__link_rss">rss</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header__search-form">
        <button type="button" class="search-form-btn"></button>
        <form class="search-form">
          <input type="text" name="search" id="search" class="search-form__text">
          <input type="submit" class="search-form__submit">
        </form>
      </div>
    </div>
    <div class="popup-bg"></div>
  </header>
  <!--  end header  -->